<div class="tabsection-title">
    <%- __('dnd_google_manufacturer.export.product.google.grouped.title') %>
</div>
<br />
<div class="tabsection-content">
    <div class="AknButton AknButtonList-item AknButton--product-detail" data-action-target="product-detail">
        <%- __('dnd_google_manufacturer.export.product.google.grouped.button.product_detail') %>
    </div>
    <div class="AknButton AknButtonList-item AknButton--feature-description" data-action-target="feature-description">
        <%- __('dnd_google_manufacturer.export.product.google.grouped.button.feature_description') %>
    </div>
</div>
<div class="tabsection-content DndTabSection">
    <div class="AknFormContainer DndAknFormContainer" data-drop-zone="grouped-product-detail"></div>
    <div class="AknFormContainer DndAknFormContainer" data-drop-zone="grouped-feature-description"></div>
    <div class="clearfix"></div>
</div>