<div class="google-grouped-feature-description">
    <h3><%- __('dnd_google_manufacturer.export.product.google.grouped.feature_description.title') %></h3>
    <div class="AknFieldContainer" data-code="type">
        <div class="AknFieldContainer-header">
            <label for="googleFeatureDescriptionHeadline" class="AknFieldContainer-label control-label required">
                <%- __('dnd_google_manufacturer.export.product.google.grouped.feature_description.headline') %>
            </label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input type="hidden" name="googleFeatureDescriptionHeadline" id="googleFeatureDescriptionHeadline" class="select-field" />
        </div>
    </div>
    <div class="AknFieldContainer" data-code="type">
        <div class="AknFieldContainer-header">
            <label for="googleFeatureDescriptionText" class="AknFieldContainer-label control-label required">
                <%- __('dnd_google_manufacturer.export.product.google.grouped.feature_description.text') %>
            </label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input type="hidden" name="googleFeatureDescriptionText" id="googleFeatureDescriptionText" class="select-field" />
        </div>
    </div>
    <div class="AknFieldContainer" data-code="type">
        <div class="AknFieldContainer-header">
            <label for="googleFeatureDescriptionImageLink" class="AknFieldContainer-label control-label required">
                <%- __('dnd_google_manufacturer.export.product.google.grouped.feature_description.image_link') %>
            </label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input type="hidden" name="googleFeatureDescriptionImageLink" id="googleFeatureDescriptionImageLink" class="select-field" />
        </div>
    </div>
    <div class="AknButtonList AknButtonList--right">
        <span class="AknButtonList-item AknIconButton AknIconButton--round AknIconButton--apply AknIconButton--ok update-row"></span>
        <span class="AknButtonList-item AknIconButton AknIconButton--round AknIconButton--important AknIconButton--remove show-row"></span>
    </div>
</div>