<select class="select2 google-select-acceptance" id="jobInstance_<%- config.fieldCode.replace('.', '_') %>" title="<%- __(config.label) %>" <%- true === config.readOnly ? 'readonly disabled' : '' %>>
<option disabled selected value></option>
<% _.each(config.options, function (label, code) { %>
<option value="<%- code %>" <%- value === code ? 'selected' : '' %>><%- __(label) %></option>
<% }) %>
</select>
<div class="AknFieldContainer-footer footer-elements-container">
    <div class="from-smart">
        <span><strong><%- __('dnd_google_manufacturer.form.job_instance.tab.googleAcceptance.help') %></strong></span>
        <ul>
            <li><%- __('dnd_google_manufacturer.form.job_instance.tab.googleAcceptance.detail.low') %></li>
            <li><%- __('dnd_google_manufacturer.form.job_instance.tab.googleAcceptance.detail.medium') %></li>
            <li><%- __('dnd_google_manufacturer.form.job_instance.tab.googleAcceptance.detail.high') %></li>
        </ul>
    </div>
</div>
